
.report-page{

      -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #000;
}



.report-page h1 {
    font-size:40px;
    text-align: center;
    padding: 2rem 1rem;
    font-family: "Roboto",sans-serif;
    font-weight:100;
    padding-top:20px;
    color:white;
    
    
}


.page-heading span{
  display: block;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    font-weight:100;
    color:white;

}
  .mars-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    padding: 0 2rem;
    width: 100%;


}

.mars-form textarea {
    margin-bottom: 1.5rem;
}

textarea {
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    height: 2rem;
    font-size: 1rem;
    padding-left: .5rem;
    background:white;
    padding-top:20px;
    width:500px;
    height:100px;

    }

  .mars-form-fieldset {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.mars-form .custom-select-report {
    height: 2rem;
   
    background-color:transparent;

}

.custom-select-report {
    position: relative;
    height: 0.25rem;
    display: block;
    padding: 0;
    width: 15%;
    background-color:transparent;
}

.button, input {
   
    font-family: 'Roboto';
    color: #fff;
}
button{
padding: 1rem 0.8rem;
    background: #000;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: center;
    color:white;
    width:200px;
    margin-top:20px;
    font-family: 'Roboto';
    font-weight:100;
    margin-bottom:20px;

}

.mars-form fieldset input{
    background-color: transparent;
    width:400px;
}

.mars-form .custom-select-report select {
    font-size: 1.1rem;
    line-height: 2rem;
    padding-left: .5rem;
    font-family: 'Roboto';
    color:red;
    background-color: transparent;
    border:none;
}


.mars-form .ng-invalid.ng-pristine.ng-touched
{
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: 5px solid #FC1C07;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #CF1302;
    -moz-box-shadow: 0px 0px 8px #CF1302;
    -webkit-box-shadow: 0px 0px 8px #CF1302;
}


.mars-form .ng-invalid.ng-dirty.ng-touched 
{
     transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: 5px solid #FC1C07;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #CF1302;
    -moz-box-shadow: 0px 0px 8px #CF1302;
    -webkit-box-shadow: 0px 0px 8px #CF1302;
}



