

.site-container  {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

.checkin-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #000;
}

.register-body{
height:100vh;
background:red;
}



.page-heading{
color:white;
      text-align: center;
    padding: 2rem 1rem;
}



  .mars-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    padding: 0 2rem;
    width: 100%;


}

.mars-form input {
    margin-bottom: 1.5rem;
}

input {
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    height: 2rem;
    font-size: 1rem;
    padding-left: .5rem;
    background:0 0;

    }

  .mars-form-fieldset {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}






.show-validation input.ng-invalid, .show-validation select.ng-invalid, .show-validation textarea.ng-invalid {
    border-radius: 0;
    -webkit-animation: invalid-input .5s infinite;
    animation: invalid-input .5s infinite;
}

.mars-form .custom-select {
    height: 2rem;
    border-bottom: 1px solid #fff;
    background-color:white;

}

.custom-select {
    position: relative;
    height: 2rem;
    display: block;
    padding: 0;
    width: 15%;

}

[ng-click]:hover {
    cursor: pointer;
}

.button, input {
    width: 100%;
    font-family: 'Roboto';
    color: #fff;
}
button{
padding: 1rem 2rem;
    background: #000;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    color:white;
    width:200px;
    margin-top:20px;

}

.mars-form fieldset input{
    color: gray;
    width:400px;
}

.mars-form .custom-select select {
    font-size: 1rem;
    line-height: 2rem;
    padding-left: .5rem;
    font-family: 'Roboto';

}

.page-heading {
    font-size:40px;
    text-align: center;
    padding: 2rem 1rem;
    font-family: "Roboto",sans-serif;
    font-weight:200;
}

input:invalid {
  background-color: #ffdddd;
}

form:invalid {
  border: 5px solid white;
}


input:required {
  border-color: #800000;
  border-width: 3px;
}

input:required:invalid {
  border-color: #C00000;
}

select option:first-child { color:red; }

